* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Microsoft YaHei', '微软雅黑', 'SimHei', '黑体', 'SimSun', '宋体',
    'PingFang SC', 'Hiragino Sans GB', 'STHeiti', '华文黑体',
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  font-size: 14px;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

